html {
  height: 100%;
  min-height: 100%;
  /* font-size: small; */
  /* font-family: arial sans-serif; */
}

#navbar {
  display: grid;
  grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
  grid-template-rows: 50px;
  grid-template-areas: "about store . gmail image menu sign-in";
  padding-left: 10px;
  padding-right: 10px;
}
#navbar a {
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
a {
  text-decoration: none;
  font-size: 13px;
}

a:hover {
  text-decoration: underline;
}

#about {
  grid-area: about;
  justify-self: center;
  align-self: center;
}
#store {
  grid-area: store;
  justify-self: center;
  align-self: center;
}

#gmail {
  grid-area: gmail;
  justify-self: center;
  align-self: center;
}

#image {
  grid-area: image;
  justify-self: center;
  align-self: center;
}

#menu {
  grid-area: menu;
  justify-self: center;
  align-self: center;
}

#sign-in {
  grid-area: sign-in;
  justify-self: center;
  align-self: center;
}
#sign-in-button {
  border-radius: 50%;
  border: none;
  border-color: none;
  background-color: rgb(245, 14, 72);
  color: white;
  padding: 0.6em;
  padding: 0.6em 0.8em;
}
#sign-in-button:hover {
  cursor: pointer;
}
#sign-in-button:focus {
  outline: none !important;
}
#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 70px 70px 250px;
  grid-template-areas:
    ". logo ."
    ". search ."
    ". flexbox ."
    ". google-text .";
}

#flexbox {
  display: flexbox;
  grid-area: flexbox;
  justify-self: center;
  align-self: center;
}

#logo {
  grid-area: logo;
  justify-self: center;
  align-self: end;
}
#search {
  grid-area: search;
  height: 44px;
  align-self: center;
  justify-self: center;
  width: 527px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: none;
}
#search:focus {
  outline: none !important;
  box-shadow: 1px 1px 5px grey;
  padding-left: 2em;
}
#search:hover {
  box-shadow: 1px 1px 5px grey;
}
#google-search-btn {
  border: none;
  font-size: 15px;
  color: #222;
  margin: 11px 4px;
  padding: 0 16px;
  min-width: 84px;
  height: 36px;
  border-radius: 5px;
}
#random-search-btn {
  border: none;
  font-size: 15px;
  color: #222;
  margin: 11px 4px;
  padding: 0 16px;
  min-width: 84px;
  height: 36px;
  border-radius: 5px;
}

#google-search-btn:hover {
  border: 1px solid rgb(131, 131, 131);
}
#random-search-btn:hover {
  border: 1px solid rgb(131, 131, 131);
}

#google-text {
  grid-area: google-text;
}

#footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* display: grid;
  grid-template-columns: 100px 100px 150px 100% 70px 70px 70px;
  grid-template-rows: 50px;
  grid-template-areas: "advertising business hsw . privacy terms settings"; */
  position: absolute;
  line-height: 40px;
  bottom: 0;
  /* font-size: 2em; */
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}
#footer a {
  color: black;
}
#left-footer {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px;
  grid-template-areas: "advertising business hsw";
  padding-left: 1em;
}
#right-footer {
  display: grid;
  grid-template-columns: 70px 70px 70px;
  grid-template-rows: 50px;
  grid-template-areas: "privacy terms settings";
  padding-right: 1em;
}
#advertising {
  grid-area: advertising;
  justify-self: center;
  align-self: center;
}
#business {
  grid-area: business;
  justify-self: center;
  align-self: center;
}
#hsw {
  grid-area: hsw;
  justify-self: center;
  align-self: center;
}
#privacy {
  grid-area: privacy;
  justify-self: center;
  align-self: center;
}
#terms {
  grid-area: terms;
  justify-self: center;
  align-self: center;
}
#settings {
  grid-area: settings;
  justify-self: center;
  align-self: center;
}
